<%= form_for(@listing) do |f| %>
  <%= render 'partials/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write a short description of your place and services.." %>
    <%#= f.hidden_field :product_id, value: @product.id %>
  </div>
  <%= f.submit "Create listing", class: "btn btn-primary" %>
<% end %>
