<%= provide(:heading, @listing.address) %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="preview-listing listing-image" style="background-image: url(<%= @listing.photo.url %>)"></div>
    <p><%= @listing.content %> </p>
  </div>

</div>
