<div class="navbar navbar-inverse">
  <!-- Navbar left buttons -->
  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "About", about_path, class: 'navbar-links' %></li>
      <li><%= link_to "Help", help_path, class: 'navbar-links' %></li>
    </ul>
  </nav>
</div>
