<div class="navbar navbar-inverse" id="main">
  <!-- Navbar left buttons -->
  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "About", about_path(anchor: 'main'), class: 'navbar-links' %></li>
      <li><%= link_to "Help", help_path(anchor: 'main'), class: 'navbar-links' %></li>
    </ul>
  </nav>
</div>
