<footer class="footer container">
  <small>
    &copy; Pawscation
    <a href="https://www.dota2.com/international/announcement"><strong>Dysol</strong></a>,
    All Rights Reserved. | Paws on Rails
  </small>
</footer>
