<header class="navbar navbar-fixed-top navbar-inverse">
  <!-- Logo -->
  <nav class="navbar-brand">
    <%= link_to 'Pawscation', root_path, id: 'logo' %>
  </nav>
  <!-- Navbar right buttons -->
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign up", signup_path, class: 'navbar-links' %></li>
      <li><%= link_to "Log In", help_path, class: 'navbar-links' %></li>
    </ul>
  </nav>
</header>
