/* header */

/* ---- Logo ---- */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 5px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  opacity: 0.9;
  text-decoration: none;
}

/* ---- Navbar right ---- */
.navbar-right {
  margin-right: 15px;
  li {
    border-left: 1px solid #4D4D4F;
    padding-top: 5px;
    &:hover {
      background-color: #4D4D4F;
    }
  }
}

/* ---- Navbar left ---- */
.navbar-left {
  li {
    border-right: 1px solid #4D4D4F;
    padding-top: 5px;
    &:hover {
      background-color: #4D4D4F;
    }
  }
}



/* ---- Carousel ---- */
.carousel {
  margin-top: -10px;
  .item {
    height: 650px;
    img {
      width: 100%;
    }
  }
}

/* ---- Carousel fading ---- */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
