/* main content */

.linkto-text {
  display: block;
  font-size: 0.9em;
  }


/* show listing sector */
.listing-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 20px;

  li {
    list-style: none;
  }
}

  .listing-row {
  margin-top: 30px;
  border-top: 1px solid #B7B8B3;
  border-bottom: 1px solid #B7B8B3;
  padding: 0;

  .listing-col {
    text-align: left;
    padding: 0;

    h4 {
      font-weight: 600;
    }
    li {
      list-style: none;
      border-top: 1px solid #DADEDD;
      padding: 10px 0;
    }
    .user {

    }

    .photos {
      display: block;
      margin-top: 10px;
    }

    .content {
      display: block;
      margin-top: 10px;
    }
    .timestamp {
      display: block;
      color: #C0C0C0;
    }
  }
}
